%h1="Music Video Search metas"
%ul#metas
  %script{:type => "text/javascript"}
    = "var videos = {};"
  -results.each do |meta|
    %li
      %script{:type => "text/javascript"}
        ="videos['#{meta.video_id}'] = #{meta.to_json};"
      =meta.title 
      #video
        %embed{ :src => meta.embed_url }
      %a{ :href => "#", :onClick => "download('#{url_for("/downloader/")}', videos['#{meta.video_id}']);" }
        Download Video
      %a{ :href => "#", :onClick => "downloadAndConvert('#{url_for("/downloader/")}', videos['#{meta.video_id}']);" }
        Download Video and add as Song
      %ul.formats
        - if meta.respond_to? :available_streams
          - meta.available_streams.each do |stream_id, stream_url|
            %li=YouTubeVideo.format_name stream_id.to_i
